rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents { // {database} clause to indicates that these rules apply to all databases in Firestore

    match /{document=**} {
      allow read: if request.auth != null;

      allow delete: if request.auth.token.email_verified == true;
    }

    /*
     *  Ensembles
     */

    match /{person}/{document=**}{
      allow create:
          if request.auth.token.email_verified == true
          && request.resource.data.personId != null ? checkPersonID(request.resource.data.personId) : false
          && request.resource.data.personName != null ? checkPersonName(request.resource.data.personName) : false
          && request.resource.data.gender != null ? checkGender(request.resource.data.gender) : false
          && request.resource.data.birthDate != null ? checkBirthDate(request.resource.data.birthDate) : false
          && request.resource.data.email != null ? checkEmail(request.resource.data.email) : false
          && request.resource.data.phoneNumber != null ? checkPhoneNumber(request.resource.data.phoneNumber) : false
          && request.resource.data.address != null ? checkAddress(request.resource.data.address) : false
          && request.resource.data.iban != null ? checkIban(request.resource.data.iban) : false
          ;
      
      allow update:
          if request.auth.token.email_verified == true;
          && (request.resource.data.diff(resource.data).affectedKeys()
                .hasOnly(['role', 'personName', 'gender', 'birthDate', 'email', 'phoneNumber', 'address', 'iban']))
          && request.resource.data.personName != null ? checkPersonName(request.resource.data.personName) : false
          && request.resource.data.gender != null ? checkGender(request.resource.data.gender) : false
          && request.resource.data.birthDate != null ? checkBirthDate(request.resource.data.birthDate) : false
          && request.resource.data.email != null ? checkEmail(request.resource.data.email) : false
          && request.resource.data.phoneNumber != null ? checkPhoneNumber(request.resource.data.phoneNumber) : false
          && request.resource.data.address != null ? checkAddress(request.resource.data.address) : false
          && request.resource.data.iban != null ? checkIban(request.resource.data.iban) : false
          ;
          

      allow delete:
          if request.auth.token.email_verified == true;
    }
  }
}